body {
  font-family: "Be Vietnam", sans-serif;
}
.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: #111;
  color: #dfdfdf;
  padding: 0 30px;
  font-size: 40px;
}
